(edif andor
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2016 1 12 13 28 47)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "I-2014.03M-SP1, mapper mapact, Build 1346R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell MSS_CCC (cellType GENERIC)
      (property dont_touch (string "true"))
      (property dont_use (integer 1))
       (view prim (viewType NETLIST)
         (interface
           (port GLA (direction OUTPUT))
           (port GLAMSS (direction OUTPUT))
           (port GLB (direction OUTPUT))
           (port GLC (direction OUTPUT))
           (port LOCK (direction OUTPUT))
           (port LOCKMSS (direction OUTPUT))
           (port MACCLK (direction OUTPUT))
           (port YB (direction OUTPUT))
           (port YC (direction OUTPUT))
           (port BYPASSA (direction INPUT))
           (port BYPASSB (direction INPUT))
           (port BYPASSC (direction INPUT))
           (port CLKA (direction INPUT))
           (port CLKB (direction INPUT))
           (port CLKC (direction INPUT))
           (port (array (rename dlygla "DLYGLA[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglafab "DLYGLAFAB[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglamss "DLYGLAMSS[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglb "DLYGLB[4:0]") 5) (direction INPUT))
           (port (array (rename dlyglc "DLYGLC[4:0]") 5) (direction INPUT))
           (port EXTFB (direction INPUT))
           (port (array (rename fbdiv "FBDIV[6:0]") 7) (direction INPUT))
           (port (array (rename fbdly "FBDLY[4:0]") 5) (direction INPUT))
           (port (array (rename fbsel "FBSEL[1:0]") 2) (direction INPUT))
           (port (array (rename findiv "FINDIV[6:0]") 7) (direction INPUT))
           (port (array (rename glmuxcfg "GLMUXCFG[1:0]") 2) (direction INPUT))
           (port (array (rename glmuxsel "GLMUXSEL[1:0]") 2) (direction INPUT))
           (port (array (rename oadiv "OADIV[4:0]") 5) (direction INPUT))
           (port OADIVHALF (direction INPUT))
           (port (array (rename oamux "OAMUX[2:0]") 3) (direction INPUT))
           (port (array (rename obdiv "OBDIV[4:0]") 5) (direction INPUT))
           (port OBDIVHALF (direction INPUT))
           (port (array (rename obmux "OBMUX[2:0]") 3) (direction INPUT))
           (port (array (rename ocdiv "OCDIV[4:0]") 5) (direction INPUT))
           (port OCDIVHALF (direction INPUT))
           (port (array (rename ocmux "OCMUX[2:0]") 3) (direction INPUT))
           (port XDLYSEL (direction INPUT))
         )
       )
    )
    (cell RCOSC (cellType GENERIC)
      (property dont_touch (string "true"))
      (property dont_use (integer 1))
       (view prim (viewType NETLIST)
         (interface
           (port CLKOUT (direction OUTPUT))
         )
       )
    )
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKINT (cellType GENERIC)
      (property dont_use (integer 1))
      (property dont_touch (string "true"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A"))
 )
           (port A (direction INPUT))
         )
       )
    )
    (cell AX1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) ^ C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell andor_MSS_tmp_MSS_CCC_0_MSS_CCC (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port FAB_CLK (direction OUTPUT))
         )
         (contents
          (instance I_RCOSC (viewRef prim (cellRef RCOSC (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
          )
          (instance I_MSSCCC (viewRef prim (cellRef MSS_CCC (libraryRef smartfusion)))
           (property is_instantiated (integer 1))
           (property VCOFREQUENCY (string "-1.000000"))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net FAB_CLK (joined
           (portRef FAB_CLK)
           (portRef GLA (instanceRef I_MSSCCC))
          ))
          (net N_CLKA_RCOSC (joined
           (portRef CLKOUT (instanceRef I_RCOSC))
           (portRef CLKA (instanceRef I_MSSCCC))
          ))
          (net GLA0_i (joined
           (portRef GLAMSS (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_GLB (joined
           (portRef GLB (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_GLC (joined
           (portRef GLC (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_LOCK (joined
           (portRef LOCK (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_LOCKMSS (joined
           (portRef LOCKMSS (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_MACCLK (joined
           (portRef MACCLK (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_YB (joined
           (portRef YB (instanceRef I_MSSCCC))
          ))
          (net I_MSSCCC_YC (joined
           (portRef YC (instanceRef I_MSSCCC))
          ))
          (net andor_MSS_tmp_MSS_CCC_0_MSS_CCC_VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef (member ocdiv 3) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 4) (instanceRef I_MSSCCC))
           (portRef (member obdiv 3) (instanceRef I_MSSCCC))
           (portRef (member obdiv 4) (instanceRef I_MSSCCC))
           (portRef (member findiv 4) (instanceRef I_MSSCCC))
           (portRef (member findiv 5) (instanceRef I_MSSCCC))
           (portRef (member fbsel 1) (instanceRef I_MSSCCC))
           (portRef (member fbdly 4) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 4) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 5) (instanceRef I_MSSCCC))
           (portRef BYPASSC (instanceRef I_MSSCCC))
           (portRef BYPASSB (instanceRef I_MSSCCC))
           (portRef BYPASSA (instanceRef I_MSSCCC))
          ))
          (net andor_MSS_tmp_MSS_CCC_0_MSS_CCC_GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef XDLYSEL (instanceRef I_MSSCCC))
           (portRef (member ocmux 0) (instanceRef I_MSSCCC))
           (portRef (member ocmux 1) (instanceRef I_MSSCCC))
           (portRef (member ocmux 2) (instanceRef I_MSSCCC))
           (portRef OCDIVHALF (instanceRef I_MSSCCC))
           (portRef (member ocdiv 0) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 1) (instanceRef I_MSSCCC))
           (portRef (member ocdiv 2) (instanceRef I_MSSCCC))
           (portRef (member obmux 0) (instanceRef I_MSSCCC))
           (portRef (member obmux 1) (instanceRef I_MSSCCC))
           (portRef (member obmux 2) (instanceRef I_MSSCCC))
           (portRef OBDIVHALF (instanceRef I_MSSCCC))
           (portRef (member obdiv 0) (instanceRef I_MSSCCC))
           (portRef (member obdiv 1) (instanceRef I_MSSCCC))
           (portRef (member obdiv 2) (instanceRef I_MSSCCC))
           (portRef (member oamux 0) (instanceRef I_MSSCCC))
           (portRef (member oamux 1) (instanceRef I_MSSCCC))
           (portRef (member oamux 2) (instanceRef I_MSSCCC))
           (portRef OADIVHALF (instanceRef I_MSSCCC))
           (portRef (member oadiv 0) (instanceRef I_MSSCCC))
           (portRef (member oadiv 1) (instanceRef I_MSSCCC))
           (portRef (member oadiv 2) (instanceRef I_MSSCCC))
           (portRef (member oadiv 3) (instanceRef I_MSSCCC))
           (portRef (member oadiv 4) (instanceRef I_MSSCCC))
           (portRef (member glmuxsel 0) (instanceRef I_MSSCCC))
           (portRef (member glmuxsel 1) (instanceRef I_MSSCCC))
           (portRef (member glmuxcfg 0) (instanceRef I_MSSCCC))
           (portRef (member glmuxcfg 1) (instanceRef I_MSSCCC))
           (portRef (member findiv 0) (instanceRef I_MSSCCC))
           (portRef (member findiv 1) (instanceRef I_MSSCCC))
           (portRef (member findiv 2) (instanceRef I_MSSCCC))
           (portRef (member findiv 3) (instanceRef I_MSSCCC))
           (portRef (member findiv 6) (instanceRef I_MSSCCC))
           (portRef (member fbsel 0) (instanceRef I_MSSCCC))
           (portRef (member fbdly 0) (instanceRef I_MSSCCC))
           (portRef (member fbdly 1) (instanceRef I_MSSCCC))
           (portRef (member fbdly 2) (instanceRef I_MSSCCC))
           (portRef (member fbdly 3) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 0) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 1) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 2) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 3) (instanceRef I_MSSCCC))
           (portRef (member fbdiv 6) (instanceRef I_MSSCCC))
           (portRef EXTFB (instanceRef I_MSSCCC))
           (portRef (member dlyglc 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglc 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglb 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglamss 4) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 0) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 1) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 2) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 3) (instanceRef I_MSSCCC))
           (portRef (member dlyglafab 4) (instanceRef I_MSSCCC))
           (portRef (member dlygla 0) (instanceRef I_MSSCCC))
           (portRef (member dlygla 1) (instanceRef I_MSSCCC))
           (portRef (member dlygla 2) (instanceRef I_MSSCCC))
           (portRef (member dlygla 3) (instanceRef I_MSSCCC))
           (portRef (member dlygla 4) (instanceRef I_MSSCCC))
           (portRef CLKC (instanceRef I_MSSCCC))
           (portRef CLKB (instanceRef I_MSSCCC))
          ))
         )
        (property orig_inst_of (string "andor_MSS_tmp_MSS_CCC_0_MSS_CCC"))
       )
    )
    (cell myandor (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port (array (rename count_i "count_i[2:0]") 3) (direction OUTPUT))
           (port (array (rename sw_c "SW_c[1:0]") 2) (direction INPUT))
           (port (array (rename led_c "LED_c[2:0]") 3) (direction OUTPUT))
           (port FAB_CLK (direction INPUT))
         )
         (contents
          (instance Q1_RNIPCIF (viewRef prim (cellRef CLKINT (libraryRef smartfusion)))
          )
          (instance (rename count_iZ0Z_0 "count_i[0]") (viewRef prim (cellRef INV (libraryRef smartfusion)))          )
          (instance (rename count_iZ0Z_1 "count_i[1]") (viewRef prim (cellRef INV (libraryRef smartfusion)))          )
          (instance (rename count_iZ0Z_2 "count_i[2]") (viewRef prim (cellRef INV (libraryRef smartfusion)))          )
          (instance count_6 (viewRef prim (cellRef NOR3C (libraryRef smartfusion)))          )
          (instance (rename LED_1_0 "LED_1[0]") (viewRef prim (cellRef NOR2B (libraryRef smartfusion)))          )
          (instance (rename LED_1_2 "LED_1[2]") (viewRef prim (cellRef OR2 (libraryRef smartfusion)))          )
          (instance count_n0 (viewRef prim (cellRef NOR2A (libraryRef smartfusion)))          )
          (instance (rename LED_1_1 "LED_1[1]") (viewRef prim (cellRef XOR2 (libraryRef smartfusion)))          )
          (instance count_n1 (viewRef prim (cellRef XA1 (libraryRef smartfusion)))          )
          (instance count_n2 (viewRef prim (cellRef AX1C (libraryRef smartfusion)))          )
          (instance Q0 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance Q1 (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename count_0 "count[0]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename count_1 "count[1]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance (rename count_2 "count[2]") (viewRef prim (cellRef DFN1 (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net (rename QZ0Z1 "Q1") (joined
           (portRef Y (instanceRef Q1_RNIPCIF))
           (portRef CLK (instanceRef count_2))
           (portRef CLK (instanceRef count_1))
           (portRef CLK (instanceRef count_0))
          ))
          (net Q1_i (joined
           (portRef Q (instanceRef Q1))
           (portRef A (instanceRef Q1_RNIPCIF))
          ))
          (net (rename count_i_0 "count_i[0]") (joined
           (portRef Y (instanceRef count_iZ0Z_0))
           (portRef (member count_i 2))
          ))
          (net (rename countZ0Z_0 "count[0]") (joined
           (portRef Q (instanceRef count_0))
           (portRef A (instanceRef count_n1))
           (portRef B (instanceRef count_n0))
           (portRef A (instanceRef count_6))
           (portRef A (instanceRef count_iZ0Z_0))
          ))
          (net (rename count_i_1 "count_i[1]") (joined
           (portRef Y (instanceRef count_iZ0Z_1))
           (portRef (member count_i 1))
          ))
          (net (rename countZ0Z_1 "count[1]") (joined
           (portRef Q (instanceRef count_1))
           (portRef B (instanceRef count_n1))
           (portRef C (instanceRef count_6))
           (portRef A (instanceRef count_iZ0Z_1))
          ))
          (net (rename count_i_2 "count_i[2]") (joined
           (portRef Y (instanceRef count_iZ0Z_2))
           (portRef (member count_i 0))
          ))
          (net (rename countZ0Z_2 "count[2]") (joined
           (portRef Q (instanceRef count_2))
           (portRef A (instanceRef count_n2))
           (portRef A (instanceRef count_iZ0Z_2))
          ))
          (net N_18 (joined
           (portRef Y (instanceRef count_6))
           (portRef C (instanceRef count_n2))
          ))
          (net (rename SW_c_1 "SW_c[1]") (joined
           (portRef (member sw_c 0))
           (portRef B (instanceRef count_n2))
           (portRef C (instanceRef count_n1))
           (portRef A (instanceRef LED_1_1))
           (portRef A (instanceRef count_n0))
           (portRef A (instanceRef LED_1_2))
           (portRef A (instanceRef LED_1_0))
           (portRef B (instanceRef count_6))
          ))
          (net (rename LED_c_0 "LED_c[0]") (joined
           (portRef Y (instanceRef LED_1_0))
           (portRef (member led_c 2))
          ))
          (net (rename SW_c_0 "SW_c[0]") (joined
           (portRef (member sw_c 1))
           (portRef D (instanceRef Q0))
           (portRef B (instanceRef LED_1_1))
           (portRef B (instanceRef LED_1_2))
           (portRef B (instanceRef LED_1_0))
          ))
          (net (rename LED_c_2 "LED_c[2]") (joined
           (portRef Y (instanceRef LED_1_2))
           (portRef (member led_c 0))
          ))
          (net (rename count_nZ0Z0 "count_n0") (joined
           (portRef Y (instanceRef count_n0))
           (portRef D (instanceRef count_0))
          ))
          (net (rename LED_c_1 "LED_c[1]") (joined
           (portRef Y (instanceRef LED_1_1))
           (portRef (member led_c 1))
          ))
          (net (rename count_nZ0Z1 "count_n1") (joined
           (portRef Y (instanceRef count_n1))
           (portRef D (instanceRef count_1))
          ))
          (net (rename count_nZ0Z2 "count_n2") (joined
           (portRef Y (instanceRef count_n2))
           (portRef D (instanceRef count_2))
          ))
          (net (rename QZ0Z0 "Q0") (joined
           (portRef Q (instanceRef Q0))
           (portRef D (instanceRef Q1))
          ))
          (net FAB_CLK (joined
           (portRef FAB_CLK)
           (portRef CLK (instanceRef Q1))
           (portRef CLK (instanceRef Q0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "myandor"))
       )
    )
    (cell andor_MSS (cellType GENERIC)
       (view netlist (viewType NETLIST)
         (interface
           (port FAB_CLK (direction OUTPUT))
         )
         (contents
          (instance MSS_CCC_0 (viewRef netlist (cellRef andor_MSS_tmp_MSS_CCC_0_MSS_CCC))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net FAB_CLK (joined
           (portRef FAB_CLK (instanceRef MSS_CCC_0))
           (portRef FAB_CLK)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
         )
        (property orig_inst_of (string "andor_MSS"))
       )
    )
    (cell andor (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename sw "SW[1:0]") 2) (direction INPUT))
           (port (array (rename led "LED[5:0]") 6) (direction OUTPUT))
         )
         (contents
          (instance (rename LED_pad_5 "LED_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename LED_pad_4 "LED_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename LED_pad_3 "LED_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename LED_pad_2 "LED_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename LED_pad_1 "LED_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename LED_pad_0 "LED_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance (rename SW_pad_1 "SW_pad[1]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance (rename SW_pad_0 "SW_pad[0]") (viewRef prim (cellRef INBUF (libraryRef smartfusion)))
          )
          (instance andor_MSS_0 (viewRef netlist (cellRef andor_MSS))
          )
          (instance myandor_0 (viewRef netlist (cellRef myandor))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net FAB_CLK (joined
           (portRef FAB_CLK (instanceRef andor_MSS_0))
           (portRef FAB_CLK (instanceRef myandor_0))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net (rename SW_c_0 "SW_c[0]") (joined
           (portRef Y (instanceRef SW_pad_0))
           (portRef (member sw_c 1) (instanceRef myandor_0))
          ))
          (net (rename SW_0 "SW[0]") (joined
           (portRef (member sw 1))
           (portRef PAD (instanceRef SW_pad_0))
          ))
          (net (rename SW_c_1 "SW_c[1]") (joined
           (portRef Y (instanceRef SW_pad_1))
           (portRef (member sw_c 0) (instanceRef myandor_0))
          ))
          (net (rename SW_1 "SW[1]") (joined
           (portRef (member sw 0))
           (portRef PAD (instanceRef SW_pad_1))
          ))
          (net (rename LED_c_0 "LED_c[0]") (joined
           (portRef (member led_c 2) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_0))
          ))
          (net (rename LED_0 "LED[0]") (joined
           (portRef PAD (instanceRef LED_pad_0))
           (portRef (member led 5))
          ))
          (net (rename LED_c_1 "LED_c[1]") (joined
           (portRef (member led_c 1) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_1))
          ))
          (net (rename LED_1 "LED[1]") (joined
           (portRef PAD (instanceRef LED_pad_1))
           (portRef (member led 4))
          ))
          (net (rename LED_c_2 "LED_c[2]") (joined
           (portRef (member led_c 0) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_2))
          ))
          (net (rename LED_2 "LED[2]") (joined
           (portRef PAD (instanceRef LED_pad_2))
           (portRef (member led 3))
          ))
          (net (rename LED_3 "LED[3]") (joined
           (portRef PAD (instanceRef LED_pad_3))
           (portRef (member led 2))
          ))
          (net (rename LED_4 "LED[4]") (joined
           (portRef PAD (instanceRef LED_pad_4))
           (portRef (member led 1))
          ))
          (net (rename LED_5 "LED[5]") (joined
           (portRef PAD (instanceRef LED_pad_5))
           (portRef (member led 0))
          ))
          (net (rename myandor_0_count_i_2 "myandor_0.count_i[2]") (joined
           (portRef (member count_i 0) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_5))
          ))
          (net (rename myandor_0_count_i_1 "myandor_0.count_i[1]") (joined
           (portRef (member count_i 1) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_4))
          ))
          (net (rename myandor_0_count_i_0 "myandor_0.count_i[0]") (joined
           (portRef (member count_i 2) (instanceRef myandor_0))
           (portRef D (instanceRef LED_pad_3))
          ))
         )
        (property orig_inst_of (string "andor"))
       )
    )
  )
  (design andor (cellRef andor (libraryRef work)))
)
